body{
    margin: 0%;
    background-color: rgb(6, 6, 32);
}

nav{
    display: flex;
    flex-direction: row;
    height: 3rem;
    background-color: rgb(8, 20, 87);
    align-items: center;
    justify-content: space-between;
}


nav label, nav ul li{
    color: white;
    text-decoration: none;
    list-style: none;
}


nav label{
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}



nav ul{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

nav ul li {
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



img{
    width: auto;
    opacity: 10%;
}


